{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 border-right" id="chat-history-container">
            <!-- Chat history will be displayed here -->
        </div>
        <div class="col-md-8" id="chat-container">
            <div class="overflow-auto border-bottom mb-2" id="chat-history" style="height: 500px;">
                <!-- Chat messages will be appended here -->
            </div>
            <form class="d-flex" id="chat-form">
                <input type="text" class="form-control mr-2" id="user-input" placeholder="Type your message...">
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
<!-- Linking the JavaScript file -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
